<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NEWS API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-input [(ngModel)]="topic" placeholder="Add topic...!"></ion-input>
    </ion-item>
  
    <ion-button expand="block"  (click)="search()">Search</ion-button>
    <ion-card *ngFor="let item of newsData" (click)="getDetails()">
      
      <ion-card-header>
        <ion-img src="{{item.urlToImage}}"></ion-img>
        <h3>{{item.title}}</h3>
      </ion-card-header>
    </ion-card>
</ion-content>
